[2016-08-05 09:16] arthurwolf opened #27 "Smoothie"
Cool project !

How about using a Smoothieboard and the Smoothie firmware instead of a grbl-based solution ?
We make it very simple to add new "arm solutions" to convert cartesian coordinates into actuator coordinates ( https://github.com/Smoothieware/Smoothieware/tree/edge/src/modules/robot/arm_solutions )
Also, it's 32bits, so it'll be faster and smoother. And it's got a larger community, is ver

[2016-08-05 16:19] AngelLM commented on #27
Arthurwolf, it would be awesome!
Of course I'll share everything I'll do with the Smothieboard :)

I have seen that the Smothieboard can control up to 5 steppers, isn't it? As Thor has 6 DOF (without counting the gripper) I think I will need add something to control the last one.

Regards!

[2016-08-06 16:30] arthurwolf commented on #27
Hey.

Yes, you'll need to add an external driver to it. It's very easy to do, you can use any pin for this.
Can you email me at wolf.arthur@gmail.com with your full shipping address and phone number ?

Thanks :)
Cheers.

[2016-08-18 16:44] AngelLM commented on #27
Package received!
Thank you very much =)
Let's keep in touch!

[2016-08-18 16:46] #27 closed

[2016-09-26 21:41] AngelLM opened #29 "Malfunction due to steppers overheat"
Steppers overheat causing printed gears deformation and malfunction of the arm.
**Possible causes:**
1. Wrong stepper drivers or wrong configuration.
2. Not enough refrigeration. Actual design does not allow air flow.
**Possible solutions:**
1. Find other driver that works better.
2. Modify the actual design to allow steppers refrigeration.
3. Use a more heat-resistant material to print the gears:

[2016-09-26 21:44] AngelLM commented on #29
I'll try to solve this keeping the A4988 drivers, modifying the design and trying to print the gears with other materials.

[2016-09-26 21:46] AngelLM opened #30 "Inverse Kinematics implementation"
It could be nice to have the IK implemented, in order to control the robot using XYZ coordinates and a rotation matrix.

[2016-09-26 21:47] AngelLM commented on #30
Currently working on it.

[2016-09-27 12:32] AngelLM opened #31 "Tool pins connector slip off."
Pins, actually located on Art4Body piece, are glued to the printed piece. Due to use, glue stopped holding the pins and now it's impossible to connect the tool wires.
Possible solution: Design a small PCB that integrates the tool pins and the endstop as they are in the same side of the piece.

[2016-09-27 20:03] Danny-VdH commented on #29
I gone use Microstep Driver ST-7128 from stepperonline
My gears are printed with ABSPlus from Stratasys. (If you need some let me know)
When I finished the robot I will give feedback
I going to look to buildin a ventilation systeem into the second articulation to prevent the heating.

[2016-09-27 20:16] Danny-VdH commented on #30
The best open source so far (c# ), used in my software and working well.
Made some little modification to it.

`    //---------------------------------------------------------------------------
    float[] _InverseK(float Xreal, float Yreal, float Zreal, float alfa1, float beta1, float gamma1)
    {
        float PI = 3.141592654f;
        float Rad = PI / 180;
        float Grad = 180 / PI;

[2016-09-27 20:26] Danny-VdH commented on #31
I am going to forsee two tubes going through inside the robot, one for the electrical connection on a pcb board with connector and one for use of a suction vacuum system. Both will be connected with flexible tubes to the tool of the robot.

[2016-09-27 21:14] Danny-VdH commented on #30
![_ik1](https://cloud.githubusercontent.com/assets/22482478/18891988/fa9eb096-8507-11e6-8878-e1668c294274.PNG)

[2016-09-27 21:14] Danny-VdH commented on #30
![_ik2](https://cloud.githubusercontent.com/assets/22482478/18892014/1e307bfc-8508-11e6-8f3d-0ea527073ef2.png)

[2016-09-29 17:55] AngelLM commented on #29
I'll be waiting for that awesome feedback!

I just pushed a new modification of the design, allowing the air-flow and the installation of 40mm fans. Before merging it to the main branch I have to test it.

[2016-09-29 18:21] AngelLM opened #32 "Feedback sensors"
Currently the control of the arm is based on a open kinetic chain. The Zero (Home) position is set at the start and the subsequent movements are based on that reference.
The inclusion of encoders or potentiometers as angle sensors could allow a closed kinetic chain control and new features like recording movements manually.

[2016-09-29 20:39] AngelLM commented on #30
Wow it looks nice, thank you! I'll take a look.
I was stuck on the Rotation Matrix and how to send a Gcode with those 9 parameters. I'm working on it :)

[2016-10-02 11:51] Danny-VdH commented on #32
What do you thing about this solution?
http://wiki.seeedstudio.com/wiki/Grove_-_Rotary_Angle_Sensor

[2016-10-02 21:38] Danny-VdH commented on #32
I'm thinking to build a arduino uno inside the robot base to connect all the potmeters led neopixel ring, buttons and gripper servo motor, then connecting with serial com. to the outside connector to connect to the main (arduino mega board) circuit. It solves a lot of wires (could also be for other electronics to connect with , like fans for controlling the heating inside the robot) And it's a che

[2016-10-02 21:42] Danny-VdH commented on #32
I'm gone make my own connector pcb board that connects over the arduino uno and the pcd boards with the potmeters on it in place of the homing sensors pcb's.

[2016-10-02 21:45] Danny-VdH commented on #32
You can use a soft serial communication between two arduino's, tested it already and work flawless!

[2016-10-02 21:48] Danny-VdH commented on #29
Can't wait to see your solution!

[2016-10-03 23:10] Danny-VdH commented on #32
http://www.contelec.ch/nc/en/products.html?action=details&pfam=WAL200&typ=Leitplastik&bid=&cHash=b253c401e47bbadd37a18237fb89901b

Hollow shaft potmeter could be a good solution.

[2016-10-20 21:48] Blueicaro commented on #32
Hi, the industrial robots, from ABB (http://new.abb.com/products/robotics/es), use one resolver for each motor unit. Resolver gives two analogic signal. One signal is called X, and de other is called Y, with this signal you can have polar coordinates of the axis motor, so you have the angle of the axis motor.
Inside of the robot there is a boad called Serial Measure Board (SMB), this board have co

[2016-11-07 15:55] AngelLM commented on #29
Solved on dd6c5e3!
Yay, the new design enable the air flow and refrigeration of the steppers. Now they don't melt the structure or gears, making possible the arm activity for a long period of time.

Closing this!

[2016-11-07 15:55] #29 closed

[2016-11-17 11:32] AngelLM commented on #31
I fixed it with two-part epoxy glue and it works very well... Closing this for now.

[2016-11-17 11:32] #31 closed

[2016-11-17 11:37] AngelLM opened #35 "Control PCB update"
I made the Control PCB as a prototype and it worked well. It's necessary to update it in order to add some features and by the way design it to produce it professionally instead of making it with a CNC.

[2016-11-17 11:37] AngelLM commented on #35
Working on this!

[2016-11-18 10:37] CatalanCaptain commented on #32
What about hall effect sensor? You can place 3 in a 120º polar array board, and magnets on the other side.
The accuracy is as high as your ADC resolution can be.
I'm spanish too...

[2016-12-10 22:30] b-adkins commented on #30
Why not use [Robot Operating System](http://www.ros.org/)? URDF and TF handle inverse kinematics pretty painlessly. [MoveIt](http://moveit.ros.org/) makes planning pretty easy. It's already used by a [lot of robots](http://moveit.ros.org/robots/).

[2016-12-12 04:33] ppedro74 commented on #32
@Danny-VdH

Can you post a supplier to the Wal200 potentiometer ?
I can't find the price neither were to buy.

Anyone knows the cost ?

[2016-12-12 15:56] AngelLM commented on #35
Redesign done, waiting for test to close this :+1:

[2016-12-19 17:02] AngelLM commented on #35
Merged on 7995187, not tested yet.

[2016-12-19 17:06] AngelLM commented on #30
Hi!
I never worked with ROS so... that's why I didn't use it. Maybe it could be a nice way to implement control... I'll look at it when I have time.
Thanks!

[2016-12-27 16:58] i-make-robots commented on #32
I am using the as5045, same as in MANTIS. ~4K positions double Hall effect. Currently working on making the sensor into a single unit that can be independently tested and then dropped into an arm design where needed.

[2016-12-27 17:00] i-make-robots commented on #32
I hve seen an arm that uses LEDs, photoresistors, and slots cut in a disc. Measure the light level to find the angle. They claim millions of points per rotation, but do all their math on an fpga.

[2016-12-27 17:15] i-make-robots opened #41 "Cooper plate?"
In bill of materials

[2016-12-27 23:52] ppedro74 commented on #32
Can you recommend a board/kit with the as5045 and the magnet ?

On Tue, Dec 27, 2016 at 11:58 AM, Dan Royer <notifications@github.com>
wrote:

[2016-12-28 01:09] i-make-robots commented on #32
i got one from http://madscientisthut.com/ and tweaked the firmware.  here's what I got: https://www.instagram.com/p/BOim_CBjiaU

[2016-12-28 16:15] ppedro74 commented on #32
Dan,

Thanks for the tip !

i found more development pcb kits (digikey, mouser, farnell)

nice job.

I have the chip glue, tape = mess ...

1) Can you share the 3d print parts and the ball bearings you used ?

2) Are you using that solution with the robot arm ?

On Tue, Dec 27, 2016 at 8:09 PM, Dan Royer <notifications@github.com> wrote:

[2016-12-28 17:01] i-make-robots commented on #32
I'm not ready to share teh parts yet, tho I have in the past.  https://hackaday.io/project/945-5-axis-robot-arm  I'm currently trying to update my own arm design based on some good ideas in THOR.

[2016-12-28 22:02] i-make-robots opened #42 "bevel gears - how?"
Please: How did you design your beveled gears?

[2016-12-29 01:45] ppedro74 commented on #32
Dan,

Thanks for the feedback.

so far i'm researching potentiometer feedback alternatives. I'm following
you on Twitter, i'll keep an eye to see how your idea evolves.

Maybe i'll try to reproduce something similar my main issue is the board
size, and the space needed to fit in.

One question where you source the ball bearing ?

On Wed, Dec 28, 2016 at 12:01 PM, Dan Royer <notifications@github.co

[2016-12-29 04:26] i-make-robots commented on #32
FWIW I post more to instagram.  I use a local company that supplies
bearings to industry.  They have a big warehouse an hour away and are nice
enough to tell me which bearings are rare so I don't use some wonky "only 2
available in the world" size.

On Wed, Dec 28, 2016 at 5:45 PM, P Tiago P <notifications@github.com> wrote:

--
Dan Royer, Owner, Marginally Clever Robots
<https://www.marginallycle

[2016-12-29 12:27] AngelLM commented on #41
Hi! The cooper plate is needed if you make the first version of Control PCB.
I'll upload it soon with the materials of the new version of the Control PCB :)

Regards!

[2016-12-29 12:31] AngelLM commented on #42
I made them using Autocad Inventor as I did not found the way to design them using FreeCAD. Someone sent me the steps to design them using Blender, but I haven't got the time yet to try it

[2016-12-29 12:40] AngelLM commented on #32
Wow! I have been a little bit offline in this issue, I really like the several solutions you have been talking about!
I saw that as5045 has a step size ~ 0.088... awesome! Its kinda expensive but I think it deserves the money. Keep me informed! :)

[2016-12-29 17:27] i-make-robots commented on #41
I get it. Should be spelled "copper".

[2016-12-30 01:32] #41 closed

[2016-12-30 01:32] AngelLM commented on #41
Fixed on commit 4d9601d
Thanks for the correction!

[2017-01-09 00:24] #42 closed

[2017-01-10 16:18] lizixroy opened #46 "Where does the logic lie?"
Hi @AngelLM

First of all, thank you very much for creating Thor, very impressive and helpful indeed.
I have been looking for some control logic (or maybe inverse kinematics solver, etc.) and hardware drivers, but I can't seem to find any actual code in this repository, there are tons of nice assets (CAD files) but the actual programs are no where to be found.

Where do you keep your logic? Maybe

[2017-01-10 16:30] AngelLM commented on #46
Hi @lizixroy !

Thanks for your kind words :)
For the control of the motors I made a modified version of GRBL. You can find the Thor's Firmware in [this repository](https://github.com/AngelLM/grbl). I have not developed GRBL, that's why I thought that this modification should be a fork from the original one.

Right now I use GRBL, flashed inside an Arduino Mega, to control 7 steppers using forward

[2017-01-14 05:42] williamleferrand commented on #46
Hi there,

Thanks @AngelLM for your work - I'm building a Thor too; my goal is to make it remote-controllable via the internet and to pair it with a printer so that remote users can print+assemble simple designs.

I looked at Danny's UIs and I'm probably going to do a web based version of his manual UI in the coming days - I'll share it on github!

[2017-01-14 09:45] AngelLM commented on #46
Hi @williamleferrand !
That would be an amazing project! Keep me informed :)

[2017-01-14 09:46] AngelLM commented on #46
As the main question was solved, I'm closing the issue.

[2017-01-14 09:46] #46 closed

[2017-01-14 16:18] williamleferrand commented on #46
@AngelLM will do! did you get my email btw?

[2017-01-14 16:43] saeugetier opened #48 "Readme: Printer Requirements"
Could you mention in the readme which kind of printer was used to print Thor, please?
Is 200x200x180 enough space to print all parts?

[2017-01-14 16:59] williamleferrand commented on #48
It is if you use the stls that are in stl/modifications (for printing bits of Art2 & the base). Otherwise according to the hackaday post,

"The most important fact is that the largest printable piece designed is 290mm of depth and I recommend to print it lied flat, that's why I suggest using a printer that has at least 290mm of printing length on one of its horizontal axis."

[2017-01-14 17:03] saeugetier commented on #32
http://www.distrelec.de/de/winkelsensor-qfn-28-ic-haus-ic-mh-qfn28/p/11039539
This chips seems to be a bit cheaper, but still expensive.

[2017-01-14 22:39] saeugetier commented on #32
As you can see in the datasheet of the  iC-MH http://www.ichaus.de/upload/pdf/MH_datasheet_C2en.pdf the supported resolution is 12bit (4096 steps per 360 degree). But the accuracy is lower. It depends on the quality of the magnetic target. The nonlinearity (interpolation error) can be reduced by calibration.

[2017-01-15 01:54] AngelLM commented on #48
Thanks @williamleferrand !
@saeugetier , as William said you can print the modificated parts with your printer. I'll add this question to the FAQ.

[2017-01-15 01:54] #48 closed

[2017-01-15 01:54] AngelLM commented on #46
@williamleferrand Let me check it right now!

[2017-01-16 00:25] AngelLM commented on #32
Have you seen [uStepper project](http://ustepper.com/shop/home/9-ustepper-premium-kit.html)?
It is licensed under CC-BY-NC and all data of the project is available in its [GitHub repository](https://github.com/uStepper/uStepper)

[2017-01-16 08:15] saeugetier commented on #32
I know that project. I looked in the schematic. They are using an AS5600 which seems to be quite cheap while having an resolution of 12bits.  I saw this chip on DigiKey for 3€ each @10pieces.
I think that using a feedback for the steppers could result a small improvement. I would be better to have the feedback directly in the joint. In that case a custom feedback electronic has to be designed.

[2017-01-16 11:18] AngelLM commented on #32
@saeugetier I was thinking about it and makes sense to have the feedback directly in the joint as you said. For hinge joints that could be "easy" to install, but for pivot joints that could be trickier. Also, the last 2 joints would be even harder.
In other hand, having the feedback from motors would ease this job, but due to mechanical reductions we will lost the "absolute" feedback. (Most motors

[2017-01-16 15:55] saeugetier commented on #32
@AngelLM I looked at the mechanics. Adding angle sensors to the robot is quite challenging, but could be feasible.
I'm skilled in electronics design. If you need help in designing the sensor pcbs, I could assist you.
Another big task would be to do something usefull with the position feedback. GRBL has no position feedback input. GRBL just outputs the steps which each motor has to move. That's why

[2017-01-16 23:18] zisi commented on #30
Hey, you can also use kdl, http://www.orocos.org/kdl. It doesn't give analytical equations but it uses numerical methods to calculate the IK.

[2017-01-17 00:04] Danny-VdH commented on #32
For the base rotation feedback I'm gonna use a gear with a reduction 1:5 PG5 (the one that's on the geared steppers) parallel agains the driving gear and make a case beneath the reduction with a high resolution potentiometer into it connected with a pigion gear that plugs into the reduction.  The 10 bit analog signal will be having enough resolution 1024/360 degrees =  2.84 at 1 degree.
Diameter x

[2017-01-17 00:19] AngelLM commented on #32
@Danny-VdH long time ago I thought about using potentiometers to get the feedback. I just want to share with you my experience. I used low-cost potentiometers (maybe that was the problem) and I tested them before including in the design. Using an oscilloscope I found that the signal provided by them wa pretty noisy. I calculated how that noise would affect to the feedback and I got around ±2º of p

[2017-01-17 01:26] i-make-robots commented on #32
I have been playing with AS5045 sensors.  double hall effect, 4096
absolution positions (0.08deg/step).  So far they've been really difficult
to calibrate correctly.  In theory when i get them working right then it
will be a single sensor unit that can be used all over many arms and other
robots.  https://www.instagram.com/p/BO79B5njnhU/

On Mon, Jan 16, 2017 at 4:19 PM, AngelLM <notifications@git

[2017-01-17 08:12] saeugetier commented on #32
For potentiometer and magnetic encode you can say that resolution and accuracy are different things. The resolution can be 12bits, but due nonlinearities the accuracy could be e.g. >1°.
For the magnetic encoder an accurate magnet is needed. The size of the north and south pole has to be equal. That's not an easy task. Most of the cheap magnet stores from internet have crappy quality. ASM sells its

[2017-01-18 05:21] b-adkins commented on #30
FYI, KDL is MoveIt's default IK solver. ROS and MoveIt make it really easy to control the robot in either XYZ space or joint space.

[2017-01-23 01:41] b-adkins commented on #30
I set up Thor in ROS MoveIt!

I'm still getting my hands on all the parts, but in the meantime I did some coding... [Check it out!](https://github.com/b-adkins/thor_arm_moveit)

![Thor control panel in ROS RVIZ using MoveIt](https://raw.githubusercontent.com/b-adkins/thor_arm_moveit/master/doc/moveit_thor.png)

[2017-02-19 20:59] VictorLamoine commented on #30
:+1: for Robot Operating System.

You'll never reach alone the complexity of what you can find in ROS, plus there is no point in coding that again apart for fun or educational purposes.

Moving this robot towards ROS will allow very complex path planning with occupancy grids and collision avoidance; torque control, adding vision (2D/3D) sensors... well pretty much anything you can imagine on a mod

[2017-02-21 19:33] saeugetier commented on #32
I saw this cheap encoder on eBay. Maybe it is worth to take a closer look at?

http://www.ebay.com/itm/600P-R-DC-5-24V-6mm-Incremental-Rotary-Encoder-AB-2-phase-Shaft-0-20KHz-NEU/272374834541

[2017-02-21 22:29] Danny-VdH commented on #32
I did a test with a potentiometer to get the position in a init fase and check every 100 ms to see if a am lossing position while moving the stepper. I must say, it is realy good, cheap and reliable.
For the base movement a use a 10 turns 10K potentiometer. for the arm movements I tested it with a potentionmeter with a hollow shaft. Most of the time it's just for starting up the robot from a power

[2017-02-21 22:35] i-make-robots commented on #32
@Danny-VdH what's your HAD.IO page url?

[2017-02-21 22:35] Danny-VdH commented on #32
closed loop is another story to do it with potentiometers, but for starting up and knowing your position it is good enough. I don't do anything with my steppers when it stays between 1° tollerance. If I didn't have any obstruction I totally stay working on the stepper counts, it's only when the difference is out of range I rehome my position to the actual potentionmeter position.

[2017-02-21 22:38] Danny-VdH commented on #32
It's also a good system to check when there was an obstruction to stop the movements of the robot and force it the restart the robot.

[2017-02-21 22:40] Danny-VdH commented on #32
[https://hackaday.io/projects/hacker/145041](url)

[2017-02-21 22:46] Danny-VdH commented on #32
I'm going to make a software that reacts when a moving to a particular speed it has to make a distance, if this distance is taking to long I got a following error.

[2017-03-31 05:16] b-adkins opened #51 "Parts inside Art56 casing hard to access"
I like how everything is a tight fit - it uses the space well. However, I think making it a two-piece clamshell (splits along a "U" down the axis) would make it much easier to access.

[2017-03-31 05:20] b-adkins opened #52 "Art 4 Transmission Column unnecessarily tight fit for bearing"
The smallest extra print material will mean the bearing does not fit down the central shaft and can be damaged by inexperienced makers trying to force it. Instead of a single inner radius that is the exact radius of the bearing, there could be a loose fit for almost all the shaft except the final place where the bearing would continue to fit snugly. As there is a screw holding the bearing in, ther

[2017-03-31 05:25] b-adkins opened #53 "Art56 Small Gears do not fit all variations of GT2x40 pulleys"
It's a clever use of a set screw to attach the pulley to the 3d printed gear! However, it looks like the GT2 standard doesn't apply to the set screws. The pulleys I ordered ended up having 4mm (not 3mm) set screw holes that do not line up with the hole in the gear.

So I used hot glue. I'll see if it can handle the torque.

[2017-04-03 14:24] AngelLM commented on #53
Hi @b-adkins ,
I didn't knew it, I assumed that it was standard. Anyway, you can adjust the 3D model to fit to your needs, if you need help with the modification of that 3D model tell me ;)
Also, I'm interested in knowing if the hot glue fix work with a load of 750g!

[2017-04-03 14:33] AngelLM commented on #52
Hi @b-adkins ,
I think I don't get the point of your idea, could you add a diagram or something like that to help me to understand it?
Thanks! 😄

[2017-04-16 10:30] AngelLM commented on #30
Hi all! I attempted to use KDL libraries when I was controlling the robot with 2 RAMPS boards. I had no enough time to make it work, so I moved to FK instead of IK.
@b-adkins That looks amazing! I'll take a look :)

[2017-05-09 00:23] ArtoriastheAbyssWalker opened #63 "Hello"
I can not download all the documents, can you help me?

[2017-05-09 07:24] AngelLM commented on #63
Hi @ArtoriastheAbyssWalker
Have you tried to click on "Clone or download" green button and then click on "Download Zip" option?
If you have intalled git in your PC and you want to download the repo using git tool you can also type the following code in your terminal/git terminal:
`git clone https://github.com/AngelLM/Thor`

Hope it helps!

[2017-05-09 08:15] AngelLM commented on #53
@b-adkins how it's going? the hot glue worked?

[2017-08-04 11:57] mkeyno opened #64 "cinematic motion algorithm"
hi, sorry to open ticket for my question , but actually I'm little lost to find the methods can convert input location (Cartesian , polar) to the optimized cinematic motions of each axis? for example how to defined the  best path from  A to B coordinates and how it converted  the cinematic  motion for each axis? what is the optimization function & type ?how to define cinematic motion parameters of

[2017-08-04 17:06] i-make-robots commented on #64
what do you mean when you say "cinematic" motion?

[2017-08-04 17:08] i-make-robots commented on #64
Thor does not, at this time, afaik, have a motion planning software that would, say, let you plot lines in space and then move the arm to meet those points, like this: https://www.youtube.com/watch?v=AO57-fZUWho

[2017-08-05 09:45] mkeyno commented on #64
sorry I mean  kinematic , you know, every robot has its own physical parts and degree of freedom so to define path between two given points we need the calculate some  dynamic equations to find this patch and other parameters(like velocity and acceleration ) , however there is no unique path between two given points , thus some optimization algorithm applied to find the best and smooth path , I sa

[2017-08-05 23:54] i-make-robots commented on #64
Frequently the shortest path is taken.  I know the number of steps each motor must take and the speed of the slowest motor.  I then step all motors so that they arrive simultaneously at the destination.  There are times when this solution is bad - it does not take into account impossible geometries or singularities BUT if you can avoid them it works great.

[2017-08-05 23:55] i-make-robots commented on #64
sorry, to calculate the kinematics is how you get the number of steps of each motor.  I have some examples in https://github.com/MarginallyClever/Robot-Overlord-App/ for 4 and 5 DOF arms.  Maybe that will help?  I don't remember atm if THOR is supported yet, but I'd like to see it happen.

[2017-08-07 07:23] AngelLM commented on #64
Hi! Sorry for the late reply.
Currently Thor moves using Forward Kinematics (at least mine). The calculations involved in the movement are responsibility of the firmware (GRBL). At this time there is not implemented neither a control using Inverse Kinematics nor movement optimization.
If it helps here it's the [solution for the Forward Kinematics](https://hackaday.io/project/12989-thor/log/43941-f

[2017-08-07 16:52] i-make-robots commented on #64
If I have the relative distance between each joint in the system and an simplified STL of each THOR part I could add it to Robot Overlord.  Then it would send FK commands to the arm, much as it does with my other robots.  If that's of interest to you, make it so.  I could get it implemented before the end of August.

[2017-08-07 21:32] AngelLM commented on #64
@i-make-robots That sounds good! I think that you have all the distances you need in [this image](https://github.com/AngelLM/Thor/blob/developer/doc/ThorDimensions.png).

[2017-08-07 21:46] i-make-robots commented on #64
I explained myself badly.  I need an STL of each section - the base, the
shoulder, the bicep, the ulna, the wrist.  For each part, I need the origin
of the part to be at the point of rotation or, in the case of the base, at
the world origin.  For each part I also need a measurement of the distance
from the origin to the axis of rotation of the next part.  In the case of
the base, I need to know ho

[2017-08-08 08:10] #63 closed

[2017-08-08 08:10] #53 closed

[2017-08-08 08:10] #52 closed

[2017-08-08 08:12] AngelLM commented on #35
Tested and working months ago! :laughing:
Minor bugs found will be fixed in the next version

[2017-08-08 08:12] #35 closed

[2017-08-08 10:39] AngelLM commented on #64
Hi @i-make-robots
I just upload the [STL files of each articulation](https://github.com/AngelLM/Thor/tree/developer/stl/FullArticulations)
Also, the distances are the following, understanding global positions as the XYZ coordinates of the space and the local position as the XYZ coordinates of the piece.

- **Base**
    - Global position (X,Y,Z): 0,0,0
    - Rotation axis: None
    - Rotation axis

[2017-08-08 11:25] AngelLM commented on #64
Split done.
The new distances would be:

- Articulation 5
    - Global position (X,Y,Z): 0,0,510
    - Art Rotation axis: Y
    - Art Rotation axis local position (X,Y,Z): 0,0,47
- Articulation 6
    - Global position (X,Y,Z): 0,0,610.431
    - Art Rotation axis: Z
    - Art Rotation axis local position (X,Y,Z): 0,0,0

[2017-08-08 15:41] i-make-robots commented on #64
are you sure about articulation 2, distance 65?  looking at the parts
together it looks more like 85 or 90.

On Tue, Aug 8, 2017 at 4:25 AM, AngelLM <notifications@github.com> wrote:

--
Dan Royer, Owner, Marginally Clever Robots
<https://www.marginallyclever.com/>
Ph: +1 (604) 259-9564
Mo: +1 (604) 916-2281

[2017-08-08 16:49] i-make-robots commented on #64
ok, I have the model displaying after adjusting the origins.  You'll
probably want to split the gripper tool from the wrist component.  Biggest
reason so you can animate the gripper action.  I'll take some more time
later this week to implement FK.

On Tue, Aug 8, 2017 at 8:40 AM, Dan Royer <dan@marginallyclever.com> wrote:

--
Dan Royer, Owner, Marginally Clever Robots
<https://www.marginallyclev

[2017-08-08 17:45] i-make-robots commented on #64
aaaand now i have FK working, kind of.  Fingers crossed I can get IK
working just as easily.

On Tue, Aug 8, 2017 at 9:48 AM, Dan Royer <dan@marginallyclever.com> wrote:

--
Dan Royer, Owner, Marginally Clever Robots
<https://www.marginallyclever.com/>
Ph: +1 (604) 259-9564
Mo: +1 (604) 916-2281

[2017-08-08 19:09] i-make-robots commented on #64
Right, IK looks to be mostly working.  I've done the first 95%, please
contribute whatever you can to make it even better.

https://www.instagram.com/p/BXi0Ci4gLqb/

On Tue, Aug 8, 2017 at 10:44 AM, Dan Royer <dan@marginallyclever.com> wrote:

--
Dan Royer, Owner, Marginally Clever Robots
<https://www.marginallyclever.com/>
Ph: +1 (604) 259-9564
Mo: +1 (604) 916-2281

[2017-08-08 19:33] AngelLM commented on #64
You are right! Is Z 95mm

El 8/8/2017 17:41, "Dan Royer" <notifications@github.com> escribió:

[2017-08-08 19:40] AngelLM commented on #64
I saw it! Awesome work!
Expect some contributions and feedback from my side! :)

[2017-09-27 11:18] AngelLM commented on #32
It seems like Danny-VdH made a nice and affordable solution here: https://hackaday.io/project/16665-thor-robot-with-addons-and-gui/log/64709-thor-v202-with-feedback-sensors#
My bad for not noticing it before!
Sounds like solved!

[2017-09-27 11:18] #32 closed

[2017-11-17 16:25] martinbarr opened #67 "ART2 BodyA that meshes with two gears always slipping. Bad fit?"
Hi Angel,

After some serious testing and trials in getting the robot arm to move, it worked for a little while then I started having serious slipping issues. I watched and saw the ART2 A arm flex too much at the bottom where the only support it has are the two pins on the top motor and the ART2 Union. Not sure how everyone else has got on with this or if they have also had issue too. Would love t

[2017-11-22 14:56] martinbarr commented on #67
Hi All,
I logged this issue and carried on investigating.

After several attempts to correct I found this issue that I thought I would share. Maybe I missed the depth that the pulley wheel should be. I did a sketch to show what I did.

![art2_solution](https://user-images.githubusercontent.com/33251887/33133619-3ff73806-cf95-11e7-8fcc-b5257571aeca.jpg)

[2017-11-24 10:21] AngelLM commented on #67
Hi @martinbarr !
Do you think that it's possible that the pin in the opposite side is not longer enough? This could be causing this articulation to be a bit loose.

Other reason could be a bending issue... Maybe the Articulation 2 is not acting as rigid piece and the lower parts are bending outwards... I don't really know.

[2018-01-23 18:58] diegotrap opened #68 "Some dimensions that may be wrong"
Hello everyone,

I am printing a complete set of Thor's printed parts and while testing the fit of the different parts with bearings, bolts, etc I have noticed some dimensions that make assembly very hard or require the printed part to be postprocessed (sanded, drilled, etc.).

This notes refer to the DesignUpdate branch, which is the one that I am using.

These are the ones that I have caught by

[2018-01-25 18:05] AngelLM commented on #68
Thanks Diego for the feedback! I'll check it ;)

[2018-01-25 18:48] AngelLM commented on #68
Okay, this are the changes I did until now
- **Gripper**: Bolt heads modified from 2.7mm to 2.95mm
- **BaseBoxBody**: Bolt heads modified from 2.7mm to 2.95mm, holes for the inserts modified from 5mm to 4.8mm.
- **Art56GearPlate**: Inner bore modified from 16mm to 16.2mm

About the *BearingPlug* piece: it was not designed to enter completely into the hole, only a bit,to prevent the bearing balls f

[2018-02-06 16:28] LoLo2207 opened #69 "Articulations bodies"
Hi, i'm printing all the parts and I only have left the Art1Body, Art3Body but each will take +24h to print because they need supports. I live with more people and can't print at nights.

Could you please tell me what settings did you use?
Or could you modify them to print them in several parts?
Thank you.

[2018-02-06 16:47] Danny-VdH commented on #69
You can download them in pieces from my hackaday page.
https://hackaday.io/project/16665-thor-robot-with-addons-and-gui
Best regards.

[2018-02-06 18:07] AngelLM commented on #69
Hi @LoLo2207

@Danny-VdH did an awesome work splitting the big pieces of Thor! As he did, I suggest you to follow the previous link and download that pieces  ;)

[2018-02-06 18:07] #69 closed

[2018-02-11 04:08] wilsoc5 opened #70 "License confusion"
The readme says the files in this repo are licenses by a CC-BA-SA (Creative Commons Attribution-ShareAlike 4.0 International License). However, the license file says it is GPL2. So... Which is the latest version licensed under?

[2018-02-12 19:18] AngelLM commented on #70
Since the first commit I said that all the files included in the repository are licensed under CC-BY-SA 4.0 License. The LICENSE file was wrong, I just fixed it!
Thank you very much for noticing! 😄

[2018-02-12 19:18] #70 closed

[2018-04-25 10:37] AngelLM commented on #67
Did you solved it?

[2018-07-04 16:35] AngelLM commented on #68
Solved and merged!

[2018-07-04 16:35] #68 closed

[2018-10-06 02:34] AlexanderPeters opened #72 "Looking for a Print Inventory List, and unit scaling on STLfiles."
Hi, could you please let me know where I can find a Bill Of Materials that includes the quantity of each number of 3D printed component that need to be printed. Additionally can you please let me know if the .stl files are scales in in, mm, or cm.

-Thanks

[2018-11-08 23:43] KenwoodFox opened #73 "Stepper Motor Gearbox/Planet drive"
I cant seem to find that gear ratio/model number for the #2 articulation, help?!

[2019-01-31 09:47] AngelLM commented on #73
You have a List Of Materials, including links to that stepper motor in the wiki page [Component List](https://github.com/AngelLM/Thor/wiki/Component-list).

[2019-01-31 09:47] #73 closed

[2019-01-31 09:48] #67 closed

[2019-02-07 21:58] AngelLM commented on #72
Hi @AlexanderPeters ,

Currently there is not a BOM including the quantity of printed pieces. I'll do it soon. Meanwhile you can download the FreeCAD assembly file and check it.
The unit used on the STL files, and every 3D file in this repository is mm.

Thank you for your suggestion!

[2019-05-25 15:47] LoLo2207 opened #74 "Current software to use"
Hi, I have an Ultratronics Pro board but I don't know what firmware to use. Is there any firmware available for this board?

If there isn't, what board can I use to easily wire and control the arm besides the custom PCB?

[2019-06-20 20:49] lisergio opened #76 "Alimentación del servo de la articulación 6"
En primer lugar me disculpo por escribir en castellano ( Traducción después con google)...

Estoy montando la electrónica "ControlPCB" siguiendo el esquema, y me he fijado en que el servo va conectado directamente sin ningún regulador de tensión... por lo que imagino que lo estamos alimentando con los 5v de la placa Arduino Mega, es correcto??

Gracias.
Gran trabajo,

estoy esperando a que me lleg

[2019-06-21 07:26] VictorLamoine commented on #76
Do NOT connect anything that sources power to an Arduino pin, you will most probably fry the Arduino.
Read this: https://arduino.stackexchange.com/questions/88/is-there-a-limit-on-how-much-current-a-pin-can-sink.

[2019-06-21 21:54] lisergio commented on #76
Gracias, eso lo entiendo.

pero en el esquema del circuito no hay ningún regulador de 5v, por lo que el servo se alimenta de la placa Arduino.

Thanks, I understand that.

but in the circuit diagram there is no 5v regulator, so the servo is powered by the Arduino board.

![IMG_0010](https://user-images.githubusercontent.com/289037/59953309-b16d5280-947f-11e9-887f-190b0eb75979.jpg)
![IMG_0011](http

[2019-06-24 21:47] AngelLM commented on #76
Hola @lisergio
Como bien dices, el cable de alimentación del servo va conectado a los pines que has marcado en las imágenes. Las salidas de VCC y de 5V auxiliares están conectadas con la salida de 5V de Arduino (y como este ya incorpora su propio regulador de tensión no hay que añadir nada más).
En resumen, puedes conectar el servo directamente a la placa sin problemas.
¡Espero haberte ayudado!

H

[2019-06-25 05:46] lisergio commented on #76
Eso era justo lo que quería saber, muchas gracias!!
La cuestión es que voy a usar un servo con piñones metálicos (20kg , 0,15seg) y el consumo es un poco alto...
Así que tendré que colocar una fuente aparte de 5v solo para el servo y así  proteger el regulador de la placa arduino.

That was just what I wanted to know, thank you very much !!
The point is that I'm going to use a servo with metallic

[2019-06-25 05:46] #76 closed

[2019-07-05 15:43] lisergio opened #77 "Duda en el montaje / Doubt in the assembly"
hola de nuevo...
he empezado el montaje de thor, y tengo una duda...
las siguientes piezas forman parte del mismo montaje?
Art3TensionerBody.stl
Art3TensionerPulley.stl
2	×	MF84ZZ Bearing
2	×	14mm x ∅5mm Rod

el paso del rodamiento es de 4mm, y la varilla es de 5mm, por lo que no encaja.

Hello again...
I have started the assembly of thor, and I have a doubt ...
the following parts are part of the

[2019-07-05 16:26] AngelLM commented on #77
Hola @lisergio
Todas esas piezas forman parte del mismo montaje, pero el diámetro de las varillas de 14mm de largo debería ser de 4mm en lugar de 5mm. En la [lista de materiales ](https://github.com/AngelLM/Thor/wiki/Component-list) aparece así, ¿lo he publicado mal en otro lugar?
¡Un saludo!

Hi @lisergio
All of that pieces are part of the same assembly, but the diameter of the 14mm length rods s

[2019-07-05 18:13] lisergio commented on #77
en la lista de materiales de hackaday.io pone que son de 5mm

in the hackaday.io list of materials says that they are 5mm

Gracias!!! Aclarado!!

[2019-07-05 18:20] AngelLM commented on #77
Corregido en el post de Hackaday, gracias por darte cuenta!

Fixed in the Hackaday post, thanks for find it out!

[2019-07-05 18:20] #77 closed

[2019-07-24 21:15] lisergio opened #78 "Servo not move... / El servo no se mueve"
hola de nuevo, ya tengo varias articulaciones montadas, y he empezado a probar la electronica, pero tengo un par de problemas... todos los motores se mueven, aunque no todos en los grados que deberian ( he usado tu configuracion de GRBL ) , será cuestion de modificar los pasos/mm , pero la pega es, que usando Asgard, la pinza, no rota, el boton de la articulacion 5 y de la 6 hacen lo mismo, y por

[2019-07-26 19:00] lisergio commented on #78
He solucionado el problema del servo, ya se mueve, era un problema del conector... pero no me hace todo el recorrido, donde se puede ajustar?

en cuanto al giro del gripper, sigue sin funcionar usando Asgard  ( enviando un Gcode,Y90 Z-90 si funciona)

I have solved the servo problem, it is already moving, it was a connector problem ... but it does not make me the whole route, where can it be adjus

[2019-07-27 15:04] mnc5 commented on #78
unsubscribe   please

On Fri, Jul 26, 2019 at 9:00 PM Sergio <notifications@github.com> wrote:

[2019-07-27 15:32] #78 closed

[2019-09-09 09:04] DavidVives commented on #74
Dear LoLo2207, did you find any board and firmware that works?
Many thanks and best regards

[2020-01-28 08:06] celoke opened #80 "Servo Motor - PORTG0 (pin41) no PWM output"
Hi,

Built the board, loaded the firmware on. All commands work except M3 to control the servo. Probed digital pin 41 no PWM output, is there something I'm missing? Please help

[2020-01-28 08:58] celoke commented on #80
OK, got it to work, swapped to digital pin45 using OC5B instead

[2020-05-11 17:56] lisergio opened #81 "Modificar Asgard"
Buenas de nuevo!!!
Después de mucho tiempo, he retomado el proyecto... y he pensado usar  una raspberry pi con pantalla táctil para controlar a thor, pero al instalar asgard en la raspberry, resulta que no cabe en la pantalla, que tiene una resolución máxima de 800x400..
Hay alguna manera sencilla de modificar el gui.py para poner solo lo básico?
El botón de conectar, y los sliders de las articula

[2020-12-10 12:48] DanielYWoo opened #82 "Document Improvement in STL files"
Thanks for this great work, but I don't understand what's the naming convention, like Art1Body and Art3Body?
Could you add two lines of comments into the README in the STL folder?

[2020-12-21 02:38] #82 closed

[2021-03-17 13:07] emlachapelle opened #84 "5mm (diameter) rods do not fit on 625ZZ bearings and similar issue with motor shaft and pulley"
In the process of building Thor I've run into the issue that the 5mm (diameter) rods do not fit in the 625ZZ bearings that were on the bill of material... Similarly, the GT2-6 Timing Belt Pulley 20T (inner bore of 5mm) does not fit at all on the shaft of the Stepper Motor 17HS13-0404S-PG5 also provided in the bill of material.

Would it be possible to know what you used instead of these components

[2021-06-05 21:18] shonolon opened #85 "Art1 Body STEP file has faulty topology"
The top curved area of the art 1 body part has faulty topology.

[2021-08-05 12:05] luzpaz opened #88 "Fix broken URLs in README.md#repository-index section"
Several broken links exist in https://github.com/AngelLM/Thor/blob/developer/README.md#repository-index

[2021-08-08 21:05] luzpaz opened #89 "Notes/feedback about FreeCAD used within collaborative projects like Thor"
It would be helpful to understand what are some of the workflows that this collaborative project is encountering while using FreeCAD. Anything from positives, negatives/bugs, and feature requests (that would make collaboration more optimized) etc...

Please notate this ticket. Eventually these notes can be reported back to the FreeCAD community.

[2021-08-09 18:48] #64 closed

[2021-08-09 18:49] AngelLM commented on #88
Done! Thanks for the report! ;)

[2021-08-09 18:49] #88 closed

[2021-08-09 18:55] AngelLM commented on #84
It should fit as the inner bore has 5mm diameter... I used some spare threaded M5 rods that I had at home in case it helps you.
About the Pulley issue, has your motor a 5mm diameter shaft? I don´t know why but there are models named the same with 6mm diameter shaft. In case it is and still doesn´t fit all I can recommend is to file the inner bore of the pulley a bit, or make the hole bigger with a

[2021-08-09 18:55] #84 closed

[2021-08-09 18:57] AngelLM commented on #85
Fixed on 4a5a521e1c0602a3e4603d681b6d60b1090cb309 commit.

Thanks for the report! :)

[2021-08-09 18:57] #85 closed

[2021-08-09 19:00] AngelLM commented on #81
Hi! The development of Asgard is being made in its own repo: https://github.com/AngelLM/Asgard
I'm gonna close this issue, but I have taken note of this for future designs.

Thanks! :)

[2021-08-09 19:00] #81 closed

[2021-08-09 19:07] AngelLM commented on #80
I'm sorry to be this late, but can you share how you solved it?
The original idea was to wire the pin that should go to the pin 41 to the pin 7 instead (as the 41 is digital and not PWM). This was because I made an mistake during the PCB design.
Did you wire the STool Signal to the Digital 45 pin? Is that pin PWM?

Thanks!

[2021-08-09 19:11] AngelLM commented on #74
As far as I know, currently there is no other option than Arduino Mega + [ThorControlPCB](https://github.com/AngelLM/ThorControlPCB/) with the [GRBL Thor version](https://github.com/AngelLM/grbl)

[2021-08-09 19:11] #74 closed

[2021-08-09 19:13] AngelLM commented on #72
In the new [Thor's website](http://thor.angel-lm.com/) I've added a 3D Printing Guide with the ammount of pieces needed of each model and the recommended settings to print them all.

[2021-08-09 19:13] #72 closed

[2021-08-09 19:15] AngelLM commented on #30
This task will be done in the Asgard repo, so I have taken note of it and closing this here.
Thanks for your help!

[2021-08-09 19:15] #30 closed

[2021-08-09 19:23] AngelLM commented on #89
Hi @luzpaz !

Sadly, I don't remember receiving any pull request with changes or contribution of FreeCAD files.
Some users made new pieces or modifications from the STP files using other CAD software and I have migrated it to FreeCAD afterwards.

Hope it helps!

[2021-08-12 02:36] luzpaz commented on #89
Thanks!

[2021-08-12 02:36] #89 closed

[2021-11-19 11:21] x0rium opened #90 "Payloads"
Hi! Does the project support laser engraving or 3d printer heads connection? I found only cnc mill head connection sample.

[2021-11-20 11:55] AngelLM commented on #90
Hello! As far as I know no one has mounted a laser engraving or a 3D printer nozzle to Thor yet, but it sounds very interesting!
In terms of mechanics, you could design a gripper for the tool you want to mount based on the Art56Interface piece.
As for the electronics, the current control board as a digital PWM output (f.e. to control a laser) and a spare stepper driver that could control the motor

[2021-11-23 07:06] x0rium commented on #90
Thx for answer :)
https://youtu.be/_EjADbIS9GQ
I think it's will be grate to use roboarm as universal mechanics with functional heads. For example to making pcb
1) textolite panel with photoresist film illuminated by an ultraviolet laser
2) with the help of a manipulator it is transferred into a bath with a chemical composition to remove the film
3) drilling holes
4) pick and place elements
5) mov

[2021-11-23 20:38] DigeshC opened #91 "Confusion on PCB circuit"
Hi! We are planning to build Thor but had some confusion regarding the PCB circuit. We were confused on what P1...P8 were on the circuit diagram and how they are connected in the circuits. Thank you so much!

[2021-11-24 12:42] AngelLM commented on #91
Hello!

The Control PCB is pretty similar to the RAMPs 1.4 and this feature is a legacy of this board.
P1...P8 are groups of 3 columns of 2 male pins. One pin of each column is connected to 5V and the oposite pin is connected to the driver's microstepping pin (MS0, MS1 and MS2 respectively (See [PCB Control Schematic](https://github.com/AngelLM/ThorControlPCB/blob/master/Docs/ControlPCB-Schematic.

[2021-11-26 17:40] x0rium commented on #90
https://github.com/madl3x/x-scara

[2021-11-27 22:35] #90 closed

[2021-12-09 06:46] hwu2023 opened #92 "Arduino Code to Control Stepper Motor"
Hello,

Instead of using a PCB, I am building the firmware configuration on a breadboard. I am having trouble controlling the motors with GRBL. In the grbl file, is there a place that defines what each Arduino pin does?

Thank you!

[2021-12-09 21:29] #92 closed

[2021-12-17 03:42] DigeshC commented on #91
Hello!
Thank you so much for your explanation. It cleared up our confusion.

[2021-12-17 03:42] #91 closed

[2022-03-07 17:38] sniperlucian opened #93 "Suggested Material for Printing"
Could not find (e.g. FAQ) which material is suggest, respective which limitations are implied. (PET - flexible, PLA  - low temp. etc.)

Which experience exist?

[2022-03-08 12:30] AngelLM commented on #93
Hi, that's a nice question.
I printed everinging except the motor holders and gears using PLA and I used ABS to print the small pieces in contact with the steppers such as gears and motor holders.
Some people have printed it all using ABS (which I think is the best option if you are capable of printing it without problems).

In the first model of Thor there was not cooling system, the steppers ten

[2022-03-08 12:30] #93 closed, assigned to nobody

[2022-05-15 19:59] MendyBerger opened #95 "Website down"
http://thor.angel-lm.com/ seems to be down

[2022-05-15 21:28] AngelLM commented on #95
Hi @MendyBerger thanks for noticing!
I'll see if I can fix it :cry:

[2022-05-15 21:29] #80 closed

[2022-05-16 15:25] AngelLM commented on #95
Fixed! :smile:

[2022-05-16 15:25] #95 closed